@import '../theme/mixin.less';

.nav {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width:100%;
  height: 5rem;
  display: flex;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  border-top: @border-1px;

  li {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  :global {
    .active {
      color: @primary;
      .iconfont {
        color: @primary;
      }
    }
  }
}