@import '../../theme/mixin.less';
@import '../../theme/color.less';

.section {
  .sectionBase;
  .sectionTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.45rem;
    margin-top: 0.45rem;
    .avatar{
      display: flex;
      align-items: center;
      & > i {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: .5rem;
        overflow: hidden;
        display: inline-block;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .right {
      position: relative;
      padding-right: 1.2rem;
      color: @text-light;
      &::after{
        content: ' ';
        .arrow-right;
      }
    }
  }
}