@import '../../theme/color.less';
@import '../../theme/mixin.less';

.playBar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 98;

  &.mini {
    bottom: 4rem;
    background-color: @bg-gray;
    color: @text-dark;
    height: 5rem;
    overflow: hidden;
    .miniContent {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .audioInfo {
        flex: 1;
        display: flex;
        padding: 0 1rem;
        align-items: center;
        img {
          display: block;
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
          border-radius: .2rem;
          object-fit: cover;
          background-color: #666;
        }
        div {
          flex: 1;
          overflow: hidden;
        }
        h4, p {
          .ellipsis;
          font-size: 1.2rem;
        }
        h4 {
          font-weight: bold;
        }
      }
      :global {
        .iconfont {
          padding: .5rem;
          color: @text-light;
          z-index: 2;
        }
      }
    }
  }

  &.playerPage {
    height: 100vh;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  .cover {
    position: relative;
    height: 70vh;
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #ddd;
    overflow: hidden;
   
    .bgImg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      filter: blur(50px) brightness(60%);
    }
    .arrow {
      font-size: 4rem;
      transform: rotate(90deg);
    }
    .audioInfo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      img {
        width: 42%;
        height: 42%;
        border-radius: .5rem;
        overflow: hidden;
        margin-bottom: 1rem;
      }
      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
  .panel {
    height: 30vh;
  }
}
