@import '../../theme/color.less';
@import '../../theme/mixin.less';

.playBar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 98;

  &.mini {
    bottom: 4rem;
    background-color: @bg-gray;
    color: @text-dark;
    height: 5rem;
    overflow: hidden;
    .miniContent {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .audioInfo {
        flex: 1;
        display: flex;
        padding: 0 1rem;
        align-items: center;
        img {
          display: block;
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
          border-radius: .2rem;
          object-fit: cover;
          background-color: #666;
        }
        div {
          flex: 1;
          overflow: hidden;
        }
        h4, p {
          .ellipsis;
          font-size: 1.2rem;
        }
        h4 {
          font-weight: bold;
        }
      }
      :global {
        .iconfont {
          padding: .5rem;
          color: @text-light;
          z-index: 2;
        }
      }
    }
  }

  &.playerPage {
    height: 100vh;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  .cover {
    position: relative;
    height: 70vh;
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #ddd;
    box-sizing: border-box;
    overflow: hidden;
   
    .bgImg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      filter: blur(50px) brightness(60%);
    }
    .arrow {
      font-size: 4rem;
      transform: rotate(90deg);
    }
    .audioInfo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      img {
        width: 42%;
        height: 42%;
        border-radius: .5rem;
        overflow: hidden;
        margin-bottom: 1rem;
      }
      h4 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
  .panel {
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    .playBtns {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      padding: 0 2rem;
      .progress {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        display: flex;
        span {
          position: absolute;
          top: -.7rem;
          padding: .2rem .5rem;
          border-radius: 0.7rem;
          background-color: rgba(0, 0, 0, .8);
          color: white;
          font-size: 1rem;
        }
      }
      .changeBtn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        color: @text-light;
        span {
          transform: scale(.6);
        }
        :global{
          .iconfont {
            position: absolute;
          }
        }
        &.back {
          :global{
            .iconfont {
              transform: matrix(-1,0,0,1,0,0)
            }
          }
        }
      }

      .circle {
        display: flex;
        width: 3rem;
        height: 3rem;
        border: 0.1rem solid @border-color-dark;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: @text-primary;

        &.large {
          width: 5rem;
          height: 5rem;
          color: @primary;
        }
      }
    }

    .bottomNav {
      display: flex;
      padding: .5rem;
      justify-content: space-between;
      align-items: center;
      border-top: @border-1px;
      background-color: #fcfcfc;
    }
  }
}
