@import '../../theme/color.less';
@import '../../theme/mixin.less';

.bannerWrap {
  position: relative;
  .banner {
    background-color: #eee;
    min-height: 13rem;
    .imgWrap{
      display: flex;
      align-items: center;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }

  .pointer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      display: inline-block;
      width: 1.5rem;
      height: 0.3rem;
      background-color: #666;
      margin-right: 1rem;
      border-radius: 0.1rem;
      cursor: pointer;
      &.active {
        background-color: white;
      }
    }
  }

}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  background-color: white;
  li {
    flex: 1;
    & > a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      color: @text-light;
      i {
        padding: 0.45rem;
        border-radius: 50%;
        color: white;
      }
    }
  }
}

.section {
  margin-top: 1rem;
  background-color: white;
  padding: 0.9rem;
  h5 {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    color: @text-light;
    border-bottom: @border-1px;
  }
  .sectionContent {
    position: relative;
    padding-right: 2rem;
    margin-top: .5rem;
    * {
      .ellipsis
    }
    .intro {
      margin-top: .3rem;
    }
    &::after {
      content: ' ';
      display: block;
      .arrow-left
    }
  }
}
